.DS_Store
log/*.log
tmp/**/*
tmp/cache/*
tmp/pids/*
tmp/sockets/*
tmp/sessions/*
tmp/*.zip
config/database.yml
db/*.sqlite3
config/config.yml
config/app_config.yml
config/passwords_config.yml
config/s3.yml
config/newrelic.yml
config/initializers/hoptoad.rb
