<% content_for :title, "RegistrationApp" %>


<div id="mainContent">
	<div>
		<h4>About</h4>
		<p>Each spring the Forum sponsors the University of Kentucky Symposium in Reproductive Science and Women&#x27;s Health. Its purpose is to bring faculty, clinicians, and trainees in the field of reproductive sciences together to exchange ideas and information with each other and with recognized leaders of the reproductive sciences research community. This conference is a keystone of the research and graduate training programs at the University of Kentucky. Registration is open to anyone interested in attending. The Symposium Organization Committee will be accepting abstracts until May 1, 2009 for the Tuesday morning poster session in the Gallery of the William T. Young Library with the presentation of the invited talks in the Library auditorium.</p>
	</div>
	<div>
		<h4>Invited speakers:</h4>
		<ul>
			<li><a href="http://www.life.uiuc.edu/repro/faculty/flaws.php" title="Reproductive Biology Training Program  - The Faculty">Dr. Jodi Flaws</a> - The Effect of Methoxychlor on the Mammalian Ovary</li>
			<li><a href="http://www.brighamandwomens.org/endocrine/Research/Ursula_Kaiser.aspx" title="Endocrinology, Diabetes and Hypertension Faculty Research Interests">Dr. Ursula Kaiser</a> - Frequency-Dependent Gonadotropin Regulation by Pulsatile GnRH</li>
			<li><a href="http://www.ansci.cornell.edu/faculty/quirk.html" title="Cornell University Department of Animal Science - Faculty">Dr. Susan Quirk</a> - The Hedgehog Signaling Pathway in Ovarian Follicle Development</li>
			<li><a href="http://www.northwestern.edu/neurobiology/faculty/turek.html" title="Fred Turek, Ph.D.">Dr. Fred Turek</a> - Dysregulation of Circadian Rhythms and Sleep-Wake Cycle: Impact on Female (and Male) Health</li>
		</ul>
		<p><%= link_to 'Register Now', new_registration_url %></p>
	</div>
</div>
