<% content_for :title, "RegistrationApp" %>


<div id="mainContent">
	<div>
		<h4>About</h4>
		<p>Each spring the Forum sponsors the University of Kentucky Symposium in Reproductive Science and Women&#x27;s Health. Its purpose is to bring faculty, clinicians, and trainees in the field of reproductive sciences together to exchange ideas and information with each other and with recognized leaders of the reproductive sciences research community. This conference is a keystone of the research and graduate training programs at the University of Kentucky. Registration is open to anyone interested in attending. The Symposium Organization Committee will be accepting abstracts until May 1, 2010 for the Tuesday morning poster session in the Charles T. Wethington Building Common Room with the presentation of the invited talks in the auditorium.</p>
	</div>
	<div>
		<h4>Invited speakers:</h4>
		<ul>
			<li><a href="http://www.breastcancercenter.net/faculty/fuqua.htm" title="Suzanne A.W. Fuqua, Ph.D.">Dr. Suzanne Fuqua</a></li> 
			<li><a href="http://machassold.chem.wsu.edu/~hnhlab/MainPage/Lab%20Focus%20-%20Pat.html" title="Dr. Hunt">Dr. Pat Hunt</a></li> 
			<li><a href="http://medicine.tamhsc.edu/basic-sciences/next/faculty/farida-sohrabji.html" title="Farida Sohrabji - Texas A&#38;M Health Science Center">Dr. Farida Sohrabji</a></li> 
			<li><a href="http://www.unmc.edu/obgyn/faculty/davis.htm" title="Department of Obstetrics &amp; Gynecology">Dr. John Davis</a></li> 
			<li><a href="http://www.ca.uky.edu/gluck/McDowellKJ.asp" title="Gluck Center">Dr. Karen McDowell</a></li>
		</ul>
		<p><%= link_to 'Register Now', new_registration_url %></p>
	</div>
</div>
