<% content_for :title, "RegistrationApp | Schedule" %>
<h3>Thursday, May 20, Charles T. Wethington Building</h3>
<div><p>To be announced</p></div>
<!-- 
<dl class="event">
	<dt>8:00 - 9:00 AM</dt>
	<dd>Breakfast/Poster Session, William T. Young Library Gallery</dd>
	<dt>9:00 AM</dt>
	<dd>Welcome: Auditorium, William T. Young Library<br />Marilyn Duncan, Ph.D., Symposium Director</dd>
	<dt>9:00 - 10:15 AM</dt>
	<dd>Susan M. Quirk, Ph.D. of Cornell University, Department of Animal Science</dd>
	<dd>"The Hedgehog Signaling Pathway in Ovarian Follicle Development"</dd>
	<dt>10:15 - 11:30 AM</dt>
	<dd>Poster Session, William T. Young Library Gallery</dd>
	<dt>11:30 AM - 12:30 PM</dt>
	<dd>Trainee Lunch (by reservation) William T. Young Library Keenland Room</dd>
	<dt>12:30 - 1:45 PM</dt>
	<dd>Jodi Flaws, Ph.D. of University of Illinois at Urbana-Champaign, College of Veterinary Medicine, Department of Veterinary Biosciences</dd>
	<dd>"The Effect of Methoxychlor on the Mammalian Ovary"</dd>
	<dt>1:45 - 2:00 PM</dt>
	<dd>Posters and Refreshments: Gallery</dd>
	<dt>2:00 - 3:15 PM</dt>
	<dd>Ursula Kaiser, M.D. of Harvard Medical School, Brigham and Women’s Hospital, Chief of the Division of Endocrinology, Diabetes and Hypertension</dd>
	<dd>"Frequency-Dependent Gonadotropin Regulation by Pulsatile GnRH"</dd>
	<dt>6:00 PM</dt>
	<dd>Evening Session at Woodford Reserve Distillery [ <a href="http://www.mc.uky.edu/obg/Forum/evening_session_directions.pdf">driving directions pdf</a> ]</dd>
</dl>
-->
<h3>Friday, May 21, Charles T. Wethington Building</h3>
<div><p>To be announced</p></div>
<!-- 
<dl class="event">
	<dt>8:00 - 8:30 AM</dt>
	<dd>Coffee / Breakfast / Poster Session, William T. Young Library Gallery</dd>
	<dt>8:30 - 9:45 AM</dt>
	<dd>Fred Turek, Ph.D. of Northwestern University, Department of Neurobiology and Physiology, Director, Center for Sleep and Circadian Biology, Charles E. & Emma H. Morrison Professor of Biology</dd>
	<dd>"Dysregulation of Circadian Rhythms and Sleep-Wake Cycle: Impact on Female (and Male) Health"</dd>
	<dt>9:45 - 10:30 AM</dt>
	<dd>Break / Poster Session, William T. Young Library Gallery</dd>
	<dt>10:30 - 11:45 AM</dt>
	<dd>Sandra Legan, Ph.D. of University of Kentucky, College of Medicine Department of Physiology</dd>
	<dd>"Circadian Clock Control of the LH Surge"</dd>
</dl>
-->