<% content_for :title, "RegistrationApp | Terms of Service" %>
<h1>RegistrationApp Terms of Service</h1>

<p>These "Terms of Use" set forth the terms and conditions that apply to your use of RegistrationApp (the "Web Application"). By using the Web Application (other than to read this page for the first time), you agree to comply with all of the Terms of Use set forth herein. The right to use the Web Application is personal to you and is not transferable to any other person or entity.</p>

<h3>No Representations or Warranties; Limitations on Liability</h3>

            <p>The information and materials on the Web Application could include technical inaccuracies or typographical errors. Changes are periodically made to the information contained herein. The owner(s) of RegistrationApp MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO ANY INFORMATION, MATERIALS OR GRAPHICS ON THE WEB SITE, ALL OF WHICH IS PROVIDED ON A STRICTLY "AS IS" BASIS, WITHOUT WARRANTY OF ANY KIND AND HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES WITH REGARD TO ANY INFORMATION, MATERIALS OR GRAPHICS ON THE WEB SITE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. UNDER NO CIRCUMSTANCES SHALL THE SITE OWNER OR PUBLISHER BE LIABLE UNDER ANY THEORY OF RECOVERY, AT LAW OR IN EQUITY, FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION, SPECIAL, DIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING, BUT NOT LIMITED TO LOSS OF USE OR LOST PROFITS), ARISING OUT OF OR IN ANY MANNER CONNECTED WITH THE USE OF INFORMATION OR SERVICES, OR THE FAILURE TO PROVIDE INFORMATION OR SERVICES, FROM THE WEB SITE.</p>

<h3>Changes to These Terms of Use</h3>

            <p>The administrator of RegistrationApp reserves the right to change these Terms of Use at any time by posting new Terms of Use at this location.</p>