<% content_for :title, "RegistrationApp | Travel" %>
<h3>Day Session Travel</h3>
<h4>Charles T. Wethington Building</h4>
<p>The day sessions will be held at the Charles T. Wethington Building on the campus of The University of Kentucky. Located at 900 South Limestone Street 40536-0200.</p>
<h4>Map</h4>
<div style="padding:5px; border:1px solid #000; text-align:center;"><iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=900+South+Limestone+Street+40536-0200&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=900+S+Limestone+St,+Lexington,+Fayette,+Kentucky+40508&amp;ll=38.032362,-84.509189&amp;spn=0.005915,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?client=safari&amp;oe=UTF-8&amp;ie=UTF8&amp;q=900%20South%20Limestone%20Street%2040536-0200&amp;fb=1&amp;split=1&amp;gl=us&amp;cid=0,0,10837083855003522465&amp;ei=TW3GSe79KMyktwfV_p3ICg&amp;ll=38.032193,-84.502546&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></div>
<h3>Evening Session Travel</h3>
<h4>Woodford Reserve Distillery</h4>
<p>The Evening Session will be held on the grounds of the historic Woodford Reserve Distillery.</p>
<p>Woodford Reserve Distillery<br />
	7855 McCracken Pike<br />
	Versailles, KY 40383</p>
<h4>Driving Directions</h4>
<p><a href="http://www.woodfordreserve.com/images/Directions.pdf" title="Requires PDF reader">Driving Direction to Woodford Reserve Distillery</a> (pdf)</p>
<h4>Map</h4>
<div style="padding:5px; border:1px solid #000; text-align:center;"><iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7855+McCracken+Pike,+Versailles,+KY+40383&amp;sll=38.033558,-84.502544&amp;sspn=0.009515,0.022273&amp;gl=us&amp;ie=UTF8&amp;ll=38.122944,-84.806643&amp;spn=0.009505,0.022273&amp;z=14&amp;iwloc=addr&amp;output=embed&amp;s=AARTsJo2rIJJJjV_wkaxMcXrCCyEUCRCfw"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7855+McCracken+Pike,+Versailles,+KY+40383&amp;sll=38.033558,-84.502544&amp;sspn=0.009515,0.022273&amp;gl=us&amp;ie=UTF8&amp;ll=38.122944,-84.806643&amp;spn=0.009505,0.022273&amp;z=14&amp;iwloc=addr" style="color:#0000FF;text-align:left">View Larger Map</a></small></div>

